<nav id="navbar" class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <img style="width: 200px;" src="../assets/download.png" alt="svg" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img style="width: 200px;" src="../assets/download.png" alt="svg" /></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul *ngIf="hasToken" class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item fs-6">
            <a data-bs-dismiss="offcanvas" aria-label="Close" (click)="openDownloadsModal()" class="nav-link " aria-current="page" href="#">Downloads</a>
          </li>
          <li class="nav-item fs-6">
            <a data-bs-dismiss="offcanvas" aria-label="Close" (click)="openAccountModal()" class="nav-link" href="#">Account</a>
          </li>
          <li class="nav-item fs-6">
            <a data-bs-dismiss="offcanvas" aria-label="Close" class="nav-link" href="#" (click)="logout()">Logout</a>
          </li>
        </ul>
        <form *ngIf="!hasToken" class="d-flex mt-3 header_btns" role="search">
          <button class="btn btn-outline-primary" data-bs-dismiss="offcanvas" aria-label="Close" (click)="openSignUpModal()">Signup</button>
          <button class="btn btn-outline-primary" data-bs-dismiss="offcanvas" aria-label="Close" (click)="openModal()">Login</button>
        </form>
      </div>
    </div>
  </div>
</nav>

<main role="main" class="container container-xl ">
  <div class="row" style="margin-top: 18%">
    <div class="col-lg-2 text-center mobile_rek">
      <a href="https://link.coupang.com/a/bJrh4K" target="_blank" referrerpolicy="unsafe-url"><img src="https://ads-partners.coupang.com/banners/790430?subId=&traceId=V0-301-879dd1202e5c73b2-I790430&w=160&h=600" alt=""></a>
    </div>
    <div class="col-lg-8">
      <div >
        <form #f="ngForm">
          <div class=" pc_rek" style="text-align: center;">
            <a href="https://link.coupang.com/a/bJrksD" target="_blank" referrerpolicy="unsafe-url"><img src="https://ads-partners.coupang.com/banners/790444?subId=&traceId=V0-301-5f9bd61900e673c0-I790444&w=320&h=100" alt=""></a>
          </div>
          <div
            style="
              font-size: xxx-large;
              font-weight: bolder;
              padding: 10px;
              text-align: center;
              background: -webkit-linear-gradient(45deg, #10439f, #74e291);
              margin: 2rem auto;
              background-clip: text;
              -webkit-text-fill-color: transparent;
              white-space: pre-wrap;
              display: flex;justify-content: center;align-items: center;
            "
            _ngcontent-ng-c2310961675=""
            class="page-title"
          >
          <!-- <img style="width: 75px; " src="../assets/icons/mstile-150x150.png" alt=""> -->
            오로라 다운로더
          </div>
          <div class="container add-url-box">
            <div class="row">
              <div class="col add-url-component input-group">
                <input
                  type="text"
                  autocomplete="off"
                  spellcheck="false"
                  class="form-control"
                  placeholder="다운받을 동영상 url 입력 또는 붙여넣기"
                  name="addUrl"
                  id="addUrl"
                  [(ngModel)]="addUrl"
                  [disabled]="addInProgress || downloads.loading"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 add-url-component">
                <div class="input-group">
                  <span class="input-group-text">해상도</span>
                  <select
                    class="form-select"
                    name="quality"
                    [(ngModel)]="quality"
                    (change)="qualityChanged()"
                    [disabled]="addInProgress || downloads.loading"
                  >
                    <option *ngFor="let q of qualities" [ngValue]="q.id">
                      {{ q.text }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 add-url-component">
                  <div class="flex justify-center mb-4">
                    <button
                      class="btn"
                      [ngClass]="{ 'bg-blue-500 text-white': format === 'mp4', 'bg-gray-200 text-gray-700': format !== 'mp4' }"
                      [disabled]="addInProgress || downloads.loading"
                      (click)="selectFormat('mp4')"
                    >
                      video
                    </button>
                    <button
                      class="btn"
                      [ngClass]="{ 'bg-blue-500 text-white': format === 'mp3', 'bg-gray-200 text-gray-700': format !== 'mp3' }"
                      [disabled]="addInProgress || downloads.loading"
                      (click)="selectFormat('mp3')"
                    >
                      audio
                    </button>
                  </div>
              </div>
              <div class="col-md-4 add-url-component" style="display: none">
                <div class="input-group">
                  <span class="input-group-text">Auto Start</span>
                  <select
                    class="form-select"
                    name="autoStart"
                    [(ngModel)]="autoStart"
                    (change)="autoStartChanged()"
                    [disabled]="addInProgress || downloads.loading"
                  >
                    <option [ngValue]="false">No</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 add-url-component">
                <div
                  [attr.class]="
                    showAdvanced() ? 'btn-group add-url-group' : 'add-url-group'
                  "
                  ngbDropdown
                  #advancedDropdown="ngbDropdown"
                  display="dynamic"
                  placement="bottom-end"
                >
                  <button
                    class="btn btn-primary add-url"
                    style="border-radius: 0.375rem"
                    type="submit"
                    (click)="addDownload()"
                    [disabled]="addInProgress || downloads.loading"
                  >
                    <span
                      class="spinner-border spinner-border-sm"
                      role="status"
                      id="add-spinner"
                      *ngIf="addInProgress"
                    ></span>
                    <fa-icon [icon]="faDownload"></fa-icon>
                    {{ addInProgress ? "다운로드 중..." : "다운로드 리스트 추가" }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div *ngIf="downloads.loading" class="alert alert-info" role="alert">
          Connecting to server...
        </div>
        <div
          style="
            border: solid;
            border-radius: 15px;
            border-color: white;
            background-color: white;
            margin: 2rem auto;
            overflow: auto;
          "
        >
          <div
            class="metube-section-header"
            style="
              font-weight: bolder;
              font-size: 1.8rem;
              font-weight: 300;
              position: relative;
              padding: 0.5rem;
              margin: 0.5rem;
             
            "
          >
            다운로드 목록
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 1rem">
                  <app-master-checkbox
                    #queueMasterCheckbox
                    [id]="'queue'"
                    [list]="downloads.queue"
                    (changed)="queueSelectionChanged($event)"
                  ></app-master-checkbox>

                </th>
                <th scope="col" style="width: 10rem"> 전체선택</th>
                <th scope="col">
                  <button
                    type="button"
                    class="btn btn-link text-decoration-none px-0 me-4"
                    disabled
                    #queueDelSelected
                    (click)="delSelectedDownloads('queue')"
                    style="font-size: 0.8rem; width: 10rem;"
                  >
                    <fa-icon [icon]="faTrashAlt"></fa-icon>&nbsp; 선택삭제
                  </button>
                </th>
                <th scope="col" style="width: 14rem">Progress</th>
                <th scope="col" style="width: 2rem"></th>
                <th scope="col" style="width: 5rem">바로가기</th>
                <th scope="col" style="width: 5rem">삭제</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let download of downloads.queue | keyvalue : asIsOrder;
                  trackBy: identifyDownloadRow
                "
                [class.disabled]="download.value.deleting"
              >
                <td>
                  <app-slave-checkbox
                    [id]="download.key"
                    [master]="queueMasterCheckbox"
                    [checkable]="download.value"
                  ></app-slave-checkbox>
                </td>
                <td>
                  <div *ngIf="download.value.thumbnailUrl">
                    <img
                      [src]="download.value.thumbnailUrl"
                      alt="YouTube Thumbnail"
                      style="max-width: 10rem; height: auto"
                    />
                  </div>
                </td>
                <td title="{{ download.value.filename }}" >
                  <span class="down-info">File name:</span>
                  <span   style="overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  max-width: 191px !important;
                  display: block;">
                    {{ download.value.title }}
                  </span>
                  <br />
                  <span class="down-info">Quality:</span>
                  {{ download.value.quality }}
                  <br />
                  <span class="down-info">Format:</span>
                  {{ download.value.format }}
                  <br />
                  <span class="down-info">Speed:</span>
                  {{ download.value.speed | speed }}
                </td>
                <td>
                  <ngb-progressbar
                    height="1.5rem"
                    [showValue]="download.value.status != 'preparing'"
                    [striped]="download.value.status == 'preparing'"
                    [animated]="download.value.status == 'preparing'"
                    type="success"
                    [value]="
                      download.value.status == 'preparing'
                        ? 100
                        : (download.value.percent | number : '1.0-0')
                    "
                  ></ngb-progressbar>
                </td>
                <td>
                  <button
                    *ngIf="download.value.status === 'pending'"
                    type="button"
                    class="btn btn-link"
                    (click)="downloadItemByKey(download.key)"
                  >
                    <fa-icon [icon]="faDownload"></fa-icon>
                  </button>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-link"
                    (click)="delDownload('queue', download.key)"
                  >
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>
                </td>
                <td>
                  <a href="{{ download.value.url }}" target="_blank"
                    ><fa-icon [icon]="faExternalLinkAlt"></fa-icon
                  ></a>
                </td>
              </tr>

              <!-- Completed section -->
              <tr
                *ngFor="
                  let download of downloads.done | keyvalue : asIsOrder;
                  trackBy: identifyDownloadRow
                "
                [class.disabled]="download.value.deleting"
              >
                <td></td>
                <td>
                  <div *ngIf="download.value.thumbnailUrl">
                    <img
                      [src]="download.value.thumbnailUrl"
                      alt="YouTube Thumbnail"
                      style="max-width: 10rem; height: auto"
                    />
                  </div>
                </td>
                <td>
                  <div style="display: inline-block; width: 1.5rem">
                    <fa-icon
                      *ngIf="download.value.status == 'finished'"
                      [icon]="faCheckCircle"
                      class="text-success"
                    ></fa-icon>
                    <fa-icon
                      *ngIf="download.value.status == 'error'"
                      [icon]="faTimesCircle"
                      class="text-danger"
                    ></fa-icon>
                  </div>
                  <span
                    ngbTooltip="{{ download.value.msg }} | {{
                      download.value.error
                    }}"
                    ><a
                      *ngIf="!!download.value.filename; else noDownloadLink"
                      href="{{ buildDownloadLink(download.value) }}"
                      target="_blank"
                      ><span class="down-info">File name:</span>
                      {{ download.value.title }}</a
                    ></span
                  >
                  <br />
                  <span class="down-info">Quality:</span>
                  {{ download.value.quality }}
                  <br />
                  <span class="down-info">Format:</span>
                  {{ download.value.format }}
                  <br />
                  <span *ngIf="download.value.size"
                    ><span class="down-info">File size:</span>
                    {{ download.value.size | fileSize }}</span
                  >
                  <ng-template #noDownloadLink>
                    {{ download.value.title }}
                    <span *ngIf="download.value.msg"
                      ><br />{{ download.value.msg }}</span
                    >
                    <span *ngIf="download.value.error"
                      ><br />Error: {{ download.value.error }}</span
                    >
                  </ng-template>
                </td>
                <td>
                  <button
                    *ngIf="download.value.status == 'error'"
                    type="button"
                    class="btn btn-link"
                    (click)="retryDownload(download.key, download.value)"
                  >
                    <fa-icon [icon]="faRedoAlt"></fa-icon>
                  </button>
                </td>
                <td>
                  <a
                    *ngIf="download.value.filename"
                    href="{{ buildDownloadLink(download.value) }}"
                    download
                    (click)="addToDownloadsHistory(download.value)"
                    ><fa-icon [icon]="faDownload"></fa-icon
                  ></a>
                </td>
                <td>
                  <a href="{{ download.value.url }}" target="_blank"
                    ><fa-icon [icon]="faExternalLinkAlt"></fa-icon
                  ></a>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-link"
                    (click)="delDownload('done', download.key)"
                  >
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="col-lg-2 text-center mobile_rek">
      <a href="https://link.coupang.com/a/bJrjek" target="_blank" referrerpolicy="unsafe-url"><img src="https://ads-partners.coupang.com/banners/790445?subId=&traceId=V0-301-5f9bd61900e673c0-I790445&w=160&h=600" alt=""></a>

    </div>
    <div>
      <hr />
      <div
        style="
          font-weight: bolder;
          font-size: 1.8rem;
          text-align: center;
          margin: 2rem auto;
        "
      >
        <div>비디오 사용 방법</div>
        <div style="margin-bottom: 2rem">다운로더</div>
      </div>
      <div class="row">
        <div class="col-md-4" style="text-align: center">
          <img src="../assets/body/step1.svg" alt="step1" />
          <div class="instructions-head">1. 비디오 URL을 복사하세요</div>
          <div class="instructions">
            다운로드하려는 비디오의 URL을 복사하세요.
          </div>
        </div>
        <div class="col-md-4" style="text-align: center">
          <img src="../assets/body/step2.svg" alt="step2" />
          <div class="instructions-head">2. 필드에 붙여넣기</div>
          <div class="instructions">
            비디오 다운로더 텍스트 필드에 URL을 붙여넣고 다운로드 버튼을 클릭하세요.
          </div>
        </div>
        <div class="col-md-4" style="text-align: center">
          <img src="../assets/body/step3.svg" alt="step3" />
          <div class="instructions-head">3. 파일 다운로드</div>
          <div class="instructions">
            단 몇 초 안에 파일을 얻을 수 있습니다
          </div>
        </div>
      </div>
      

      <div class="row">
        <div class="col-md-6 ">
          <div class="block_01_card">
            <div class="block_01_card_img">
              <div class="relative">
                <img src="../assets/body/block_01_01.png" alt="" />
                <div class="block_01_card_img_first">
                  <img src="../assets/body/block_01_01_1.png" alt="" />
                </div>
              </div>
            </div>
            <div class="title">광고 차단</div>
            <div class="description">
              빠른 속도와 광고 없는 환경에서 방해받지 않고 안전하게 다양한
              컨텐츠를 이용하세요.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="block_01_card">
            <div class="block_01_card_img">
              <div class="relative">
                <img src="../assets/body/block_01_02.png" alt="" />
                <div class="block_01_card_img_first">
                  <img src="../assets/body/block_01_02_2.png" alt="" />
                </div>
              </div>
            </div>
            <div class="title">동영상 다운로드</div>
            <div class="description">
              인기 웹사이트에서 고품질 비디오를 다운로드하세요 스트리밍 <br/>
              서비스도 미리 다운받아 끊김없는 시청과 wifi없는 환경에서도 <br/>
              자유롭게 시청하세요
            </div>
          </div>
        </div>
        <div class="col-md-12 ">
          <div class="block_01_card">
            <div class="title">https 차단우회 접속</div>
            <div class="description">
              향상된 보안 기능으로 안전하고 우회접속이 필요한 환경에서 자동 on/off 기능으로 <br/>
              편리하게 웹사이트를 접속하세요
            </div>
            <div class="block_02_card">
              <div class="block_01_card_img">
                <img src="../assets/body/block_01_03.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 block_02 text-center">
          <img src="../assets/body/block_02_bg.png" alt="" />
        </div>
      </div>

      <hr />
      <div class="mobile_rek" style="text-align: center">
        <a href="https://link.coupang.com/a/bJrj0x" target="_blank" referrerpolicy="unsafe-url"><img src="https://ads-partners.coupang.com/banners/790417?subId=&traceId=V0-301-371ae01f4226dec2-I790417&w=728&h=90" alt=""></a>
      </div>
      <div class="pc_rek" style="text-align: center">
        <a href="https://link.coupang.com/a/bJrkDg" target="_blank" referrerpolicy="unsafe-url"><img src="https://ads-partners.coupang.com/banners/790433?subId=&traceId=V0-301-371ae01f4226dec2-I790433&w=320&h=100" alt=""></a>
      </div>
      <footer class="footer">
        <div>
          <span>About us</span>
          <ul style="list-style-type: none">
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">블로그</a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer"
                >광고 제휴 문의하기</a
              >
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">커뮤니티</a>
            </li>
          </ul>
        </div>
        <div>
          <span>Community</span>
          <ul style="list-style-type: none">
            <li>
              <a
                href="https://www.facebook.com/people/Orora-browser/61558532393945/?mibextid=kFxxJD"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img src="../assets/footer/fb.svg" alt="svg" /> Facebook</a
              >
            </li>
            <li>
              <a
                href="https://www.instagram.com/ororabrowser/?igsh=MWw4dWhzbTgwdW5jbw%3D%3D&utm_source=qr"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img src="../assets/footer/insta.svg" alt="svg" /> Instagram</a
              >
            </li>
            <li>
              <a
                href="https://www.youtube.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img src="../assets/footer/youtube.svg" alt="svg" /> Youtube</a
              >
            </li>
          </ul>
        </div>
        <div>
          <span>Download</span>
          <ul style="list-style-type: none">
            <li>
              <a href="https://play.google.com/"
                ><img
                  style="max-width: 100%"
                  src="../assets/footer/playstore.jpeg"
              /></a>
            </li>
            <li>
              <a href="https://microsoft.com/"
                ><img style="max-width: 100%" src="../assets/footer/win.jpeg"
              /></a>
            </li>
            <li>
              <a href="https://www.apple.com/app-store/"
              ><img style="max-width: 100%" src="../assets/footer/apple.jpeg"
              /></a>
            </li>
          </ul>
        </div>
        <div>
          <ul style="list-style-type: none; text-align: right; margin: auto">
            <li style="padding-top: 0">
              <a>
                <img src="../assets/logo.svg" alt="svg" />
              </a>
            </li>
            <li>
              <a href="#" >orora! 광고는 사라지고 풍부한 비디오 <br/>
                원활한 브라우징을 위한 관문
              </a
              >
            </li>
            <li>
              <a href="#"
                ><button class="btn btn-primary add-url" style="width: 80%">
                광고제휴 문의
                </button></a
              >
            </li>
          </ul>
        </div>
      </footer>
      <hr />
      <div style="font-size: small; color: #8d8d8d; margin-bottom: 1rem">
        <span
          ><img
            src="../assets/footer/badges.svg"
            alt="svg"
            style="margin-right: 20%; max-width: 20%"
          />©Orora 2024. All rights reserved.</span
        >
      </div>
    </div>

  </div>

<!-- Verification Modal -->
<div class="modal" tabindex="-1" [ngClass]="{ show: isVerificationModalOpen }" (click)= "closeVerificationModal($event)">
  <div class="modal-dialog modal-small" (click)="preventClose($event)">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{activeTab === 'mobile' ? '휴대폰 인증' : '이메일 인증'}}</h3>
        <button type="button" class="close" aria-label="Close" (click)="closeVerificationModal($event)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="!verificationLoading; else loadingIndicator">
        <ng-container *ngIf="activeTab === 'mobile'; else emailVerification">
          <h4 class="fw-bold text-center mb-2">+ {{phoneNumber}}</h4>
          <div class="block text-gray-700 mb-4 text-center">번호로 받은 5자리 코드를 입력하세요</div>
        </ng-container>
        <ng-template #emailVerification>
          <h4 class="fw-bold text-center mb-2">{{email}}</h4>
          <div class="block text-gray-700 mb-4 text-center">이메일 주소로 받은 5자리 코드를 입력하세요.</div>
        </ng-template>
          <div class="mb-4">
            <ng-otp-input
              class="text-center"
              [config]="{length: 5, allowNumbersOnly: true}"
              (onInputChange)="onOtpChange($event)">
            </ng-otp-input>
          </div>
          <button class="btn btn-primary w-full bg-gray-300 text-gray-700 py-2 rounded-lg mb-4" (click)="verify()">확인</button>
      </div>
      <ng-template #loadingIndicator>
        <div class="text-center m-4">
          <div class="spinner-border" role="status">
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>

  <!-- The Modal -->
<!-- login-modal.component.html -->
<div class="modal" tabindex="-1" [ngClass]="{ show: isModalOpen }" (click)="closeModal($event)">
  <div class="modal-dialog modal-small" (click)="preventClose($event)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">오로라 로그인</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal($event)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="w-100">
          <div class="">
            <div class="flex justify-center mb-4">
              <button
                class="modal_btn"
                [ngClass]="{ 'bg-blue-500 text-white': activeTab === 'mobile', 'bg-gray-200 text-gray-700': activeTab !== 'mobile' }"
                (click)="setActiveTab('mobile')"
              >
                모바일
              </button>
              <button
                class="modal_btn"
                [ngClass]="{ 'bg-blue-500 text-white': activeTab === 'email', 'bg-gray-200 text-gray-700': activeTab !== 'email' }"
                (click)="setActiveTab('email')"
              >
                이메일
              </button>
            </div>
            <ng-container *ngIf="activeTab === 'mobile'; else emailLogin">
              <div>
                <div class="mb-4">
                  <label class="block text-gray-700 mb-2">휴대폰 번호</label>
                    <div class="flex items-center border rounded-lg px-3 py-2">
                      <img src="../assets/flags/korea.png" width="30" height="20" alt="Country flag" class="mr-2" />
                      <span>+</span>
                      <input type="text" placeholder="번호를 입력해주세요" [(ngModel)]="phoneNumber" class="flex-1 border-none outline-none bg-transparent ml-2" />
                    </div>
                </div>
                <div class="mb-4">
                  <label class="block text-gray-700 mb-2">비밀번호</label>
                  <div class="flex items-center border rounded-lg px-3 py-2">
                    <input type="password" placeholder="비밀번호를 입력해주세요" [(ngModel)]="password" class="flex-1 border-none outline-none bg-transparent" />
                    <i class="fas fa-eye text-gray-500"></i>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-template #emailLogin >
              <div>
                <div class="mb-4">
                  <label class="block text-gray-700 mb-2">이메일</label>
                  <input type="email" placeholder="이메일을 입력해주세요" [(ngModel)]="email" class="w-full border rounded-lg px-3 py-2 outline-none" />
                </div>
                <div class="mb-4">
                  <label class="block text-gray-700 mb-2">비밀번호</label>
                  <div class="flex items-center border rounded-lg px-3 py-2">
                    <input type="password" placeholder="비밀번호를 입력해주세요" [(ngModel)]="password" class="flex-1 border-none outline-none bg-transparent" />
                    <i class="fas fa-eye text-gray-500"></i>
                  </div>
                </div>
              </div>
            </ng-template>
            <div class="checkbox_area mb-4">
              <label class="checkbox_label">
                <input type="checkbox" class="mr-2" /> 로그인 유지
              </label>
              <label class="checkbox_label">
                <input type="checkbox" class="mr-2" /> 자동 로그인
              </label>
              <label class="checkbox_label">
                <input type="checkbox" class="mr-2" /> 아이디 저장
              </label>
            </div>
            <button class="w-full bg-gray-300 text-gray-700 py-2 rounded-lg mb-4" (click)="login()">로그인</button>
            <div class="flex justify-between text-sm text-gray-700 mb-4">
              <a href="#" class="underline">비밀번호 찾기</a>
              <a href="#" class="underline" (click)="openSignUpModal()">회원가입</a>
            </div>
            <!-- <button class="w-full bg-black text-white py-2 rounded-lg flex items-center justify-center">
              <i class="fab fa-google mr-2"></i> 또는 Continue with Google
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- sing up modal  -->

  <div class="modal" tabindex="-1" [ngClass]="{ show: isSignUpModalOpen }" (click)="closeSignUpModal($event)">
    <div class="modal-dialog modal-small" (click)="preventClose($event)">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">오로라 회원가입</h5>
          <button type="button" class="close" aria-label="Close" (click)="closeSignUpModal($event)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="w-100">
            <div class="">
              <div class="mb-4">
                <label class="block text-gray-700 mb-2">닉네임</label>
                <input type="text" [(ngModel)]="username" placeholder="닉네임 입력해주세요" class="w-full border rounded-lg px-3 py-2 outline-none" />
              </div>
              <div class="flex justify-center mb-4">
                <button
                  class="modal_btn"
                  [ngClass]="{ 'bg-blue-500 text-white': activeTab === 'mobile', 'bg-gray-200 text-gray-700': activeTab !== 'mobile' }"
                  (click)="setActiveTab('mobile')"
                >
                  모바일
                </button>
                <button
                  class="modal_btn"
                  [ngClass]="{ 'bg-blue-500 text-white': activeTab === 'email', 'bg-gray-200 text-gray-700': activeTab !== 'email' }"
                  (click)="setActiveTab('email')"
                >
                  이메일
                </button>
              </div>
              @if(activeTab === 'mobile') {
                <div>
                  <div class="mb-4">
                    <label class="block text-gray-700 mb-2">휴대폰 번호</label>
                    <div class="flex items-center border rounded-lg px-3 py-2">
                      <img src="../assets/flags/korea.png" width="30" height="20" alt="Country flag" class="mr-2" />
                      <span>+</span>
                      <input type="text" [(ngModel)]="phoneNumber" placeholder="번호를 입력해주세요" class="flex-1 border-none outline-none bg-transparent ml-2" />
                    </div>
                  </div>
                  <div class="mb-4">
                    <label class="block text-gray-700 mb-2">비밀번호</label>
                    <div class="flex items-center border rounded-lg px-3 py-2">
                      <input type="password" [(ngModel)]="password" placeholder="비밀번호를 입력해주세요" class="flex-1 border-none outline-none bg-transparent" />
                      <i class="fas fa-eye text-gray-500"></i>
                    </div>
                  </div>
                  <div class="mb-4">
                    <label class="block text-gray-700 mb-2">비밀번호 확인</label>
                    <div class="flex items-center border rounded-lg px-3 py-2">
                      <input type="password" [(ngModel)]="confirmPassword" placeholder="비밀번호 확인을 입력해주세요" class="flex-1 border-none outline-none bg-transparent" />
                      <i class="fas fa-eye text-gray-500"></i>
                    </div>
                  </div>
                </div>
              }
              @else {
                <div>
                  <div class="mb-4">
                    <label class="block text-gray-700 mb-2">이메일</label>
                    <input type="email" [(ngModel)]="email" placeholder="이메일을 입력해주세요" class="w-full border rounded-lg px-3 py-2 outline-none" />
                  </div>
                  <div class="mb-4">
                    <label class="block text-gray-700 mb-2">비밀번호</label>
                    <div class="flex items-center border rounded-lg px-3 py-2">
                      <input type="password" [(ngModel)]="password" placeholder="비밀번호를 입력해주세요" class="flex-1 border-none outline-none bg-transparent" />
                      <i class="fas fa-eye text-gray-500"></i>
                    </div>
                  </div>
                  <div class="mb-4">
                    <label class="block text-gray-700 mb-2">비밀번호 확인</label>
                    <div class="flex items-center border rounded-lg px-3 py-2">
                      <input type="password" [(ngModel)]="confirmPassword" placeholder="비밀번호 확인을 입력해주세요" class="flex-1 border-none outline-none bg-transparent" />
                      <i class="fas fa-eye text-gray-500"></i>
                    </div>
                  </div>
                </div>
              }
              <div class="checkbox_area mb-4">
                <label class="checkbox_label">
                  <input type="checkbox" [(ngModel)]="isPrivacyPolicyAccepted" class="mr-2" /> 이용약관 및 개인정보 보호정책에 동의합니다
                </label>
              </div>
              <button class="w-full bg-gray-300 text-gray-700 py-2 rounded-lg mb-4" (click)="register()" >회원가입하기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<!-- Account Modal -->
<div class="modal" tabindex="-1" [ngClass]="{ show: isAccountModalOpen }" (click)="closeAccountModal($event)">
  <div class="modal-dialog" (click)="preventClose($event)">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Account</h3>
        <button type="button" class="close" aria-label="Close" (click)="closeAccountModal($event)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="isAccountLoading || !userInfo" class="text-center m-4">
          <div class="spinner-border" role="status">
          </div>
        </div>
        <div *ngIf="!isAccountLoading && userInfo">
          <div class="mb-3">
            <label for="username" class="form-label fw-bold">닉네임</label>
            <div id="username">{{userInfo.username}}</div>
          </div>
          <div *ngIf="userInfo.phonenumber" class="mb-3">
            <label for="phoneNumber" class="form-label fw-bold">휴대폰 번호</label>
            <div id="phoneNumber">{{userInfo.phonenumber}}</div>
          </div>
          <div *ngIf="userInfo.email" class="mb-3">
            <label for="email" class="form-label fw-bold">이메일</label>
            <div id="email">{{userInfo.email}}</div>
          </div>
          <button type="button" class="btn btn-primary mt-4" (click)="togglePasswordChange()">
            {{ isPasswordChangeVisible ? '취소' : '비밀번호 변경' }}
          </button>
          <div *ngIf="isPasswordChangeVisible" class="mt-3">
            <div class="mb-3">
              <label for="oldPassword" class="form-label fw-bold">현재 비밀번호</label>
              <input type="password" class="form-control" id="oldPassword" [(ngModel)]="oldPassword">
            </div>
            <div class="mb-3">
              <label for="newPassword" class="form-label fw-bold">새 비밀번호</label>
              <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword">
            </div>
            <button type="button" class="btn btn-success" (click)="changePassword()">확인하다</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Downloads Modal -->
<div class="modal" tabindex="-1" [ngClass]="{ show: isDownloadsModalOpen }" (click)="closeDownloadsModal($event)">
  <div class="modal-dialog modal-lg" (click)="preventClose($event)">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Downloads</h3>
        <button type="button" class="close" aria-label="Close" (click)="closeDownloadsModal($event)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 80vh; overflow-y: auto;">
        <div *ngIf="downloadHistoryTotal || isSearching()" class="d-flex responsive-flex justify-content-between align-items-center mb-4 gap-3">
          <button class="btn btn-primary" (click)="clearAllDownloadsHistory()">
            모두 지우기
          </button>
          <div class="d-flex align-items-center gap-1 search-block" style="width: 50%;">
            <input 
              type="search"
              [(ngModel)]="downloadHistorySearchTerm"
              (ngModelChange)="onSearchTermChange($event)"
              class="form-control shadow-none"
              placeholder="찾다"
            />
          </div>
        </div>
        <div *ngIf="isDownloadHistoryLoading" class="d-flex justify-content-center align-items-center mt-5">
          <div class="spinner-border" role="status">
          </div>
        </div>
        <div *ngIf="!isDownloadHistoryLoading">
          <div *ngFor="let download of downloadsHistory | paginate: { itemsPerPage: downloadHistoryLimit, currentPage: downloadHistoryPage, totalItems: downloadHistoryTotal }" class="card p-3 mb-2">
            <div class="row no-gutters">
              <div class="col-md-2 d-flex justify-content-right align-items-center">
                <img src={{download.thumbnailUrl}} class="card-img" alt="icon">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title clamp-2">{{download.title}}</h5>
                  <div class="card-text">
                    <span class="text-muted">{{download.format}} | {{formatBytes(download.size)}}</span>
                  </div>
                  <div class="card-text">
                    <span class="text-muted">{{formatDate(download.createdAt)}}</span>
                  </div>
                  <p class="card-text text-truncate"><a href={{download.url}} target="_blank">{{download.url}}</a></p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-end align-items-center">
                <button class="btn btn-danger" (click)="deleteDownloadHistory(download.id)">
                  <fa-icon [icon]="faTrashAlt"></fa-icon>
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="!isSearching()" class="mt-4">
            <pagination-controls
            [autoHide]="true"
            [responsive]="true"
            previousLabel=""
            nextLabel=""
            (pageChange)="onPageChange($event)">
          </pagination-controls>
          </div>
        </div>
        <div *ngIf="!downloadHistoryTotal && !isSearching()" class="fw-bold text-center">
          다운로드 기록이 여기에 표시됩니다
        </div>
      </div>
    </div>
  </div>
</div>

<!-- downloadmodal -->
  <div class="modal" tabindex="-1" [ngClass]="{ show: isMypageModal }" (click)="closeMaypageModal($event)">
    <div class="modal-dialog modal-xl" (click)="preventClose($event)">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Downoloads</h5>
          <button type="button" class="close" aria-label="Close" (click)="closeMaypageModal($event)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="w-100">
            <div
          style="
            border: solid;
            border-radius: 15px;
            border-color: white;
            background-color: white;
            margin: 2rem auto;
          "
        >
          <div
            class="metube-section-header"
            style="
              font-weight: bolder;
              font-size: 1.8rem;
              font-weight: 300;
              position: relative;
              padding: 0.5rem;
              margin: 0.5rem;
              overflow: scroll;
            "
          >
            
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 1rem">
                  <app-master-checkbox
                    #queueMasterCheckbox
                    [id]="'queue'"
                    [list]="downloads.queue"
                    (changed)="queueSelectionChanged($event)"
                  ></app-master-checkbox>
                </th>
                <th scope="col" style="width: 10rem"></th>
           
                <th scope="col" style="width: 2rem"></th>
                <th scope="col" style="width: 2rem"></th>
                <th scope="col" style="width: 2rem"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let download of downloads.queue | keyvalue : asIsOrder;
                  trackBy: identifyDownloadRow
                "
                [class.disabled]="download.value.deleting"
              >
                <td>
                  <app-slave-checkbox
                    [id]="download.key"
                    [master]="queueMasterCheckbox"
                    [checkable]="download.value"
                  ></app-slave-checkbox>
                </td>
                <td>
                  <div *ngIf="download.value.thumbnailUrl">
                    <img
                      [src]="download.value.thumbnailUrl"
                      alt="YouTube Thumbnail"
                      style="max-width: 10rem; height: auto"
                    />
                  </div>
                </td>
                <td title="{{ download.value.filename }}">
                  <span class="down-info">File name:</span>
                  {{ download.value.title }}
                  <br />
                  <span class="down-info">Quality:</span>
                  {{ download.value.quality }}
                  <br />
                  <span class="down-info">Format:</span>
                  {{ download.value.format }}
                  <br />
                  <span class="down-info">Speed:</span>
                  {{ download.value.speed | speed }}
                </td>
              
           
                <td>
                  <button
                    type="button"
                    class="btn btn-link"
                    (click)="delDownload('queue', download.key)"
                  >
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>
                </td>
                <td>
                  <a href="{{ download.value.url }}" target="_blank"
                    ><fa-icon [icon]="faExternalLinkAlt"></fa-icon
                  ></a>
                </td>
              </tr>

              <!-- Completed section -->
              <tr
                *ngFor="
                  let download of downloads.done | keyvalue : asIsOrder;
                  trackBy: identifyDownloadRow
                "
                [class.disabled]="download.value.deleting"
              >
                <td></td>
                <td>
                  <div *ngIf="download.value.thumbnailUrl">
                    <img
                      [src]="download.value.thumbnailUrl"
                      alt="YouTube Thumbnail"
                      style="max-width: 10rem; height: auto"
                    />
                  </div>
                </td>
                <td>
                  <div style="display: inline-block; width: 1.5rem">
                    <fa-icon
                      *ngIf="download.value.status == 'finished'"
                      [icon]="faCheckCircle"
                      class="text-success"
                    ></fa-icon>
                    <fa-icon
                      *ngIf="download.value.status == 'error'"
                      [icon]="faTimesCircle"
                      class="text-danger"
                    ></fa-icon>
                  </div>
                  <span
                    ngbTooltip="{{ download.value.msg }} | {{
                      download.value.error
                    }}"
                    ><a
                      *ngIf="!!download.value.filename; else noDownloadLink"
                      href="{{ buildDownloadLink(download.value) }}"
                      target="_blank"
                      ><span class="down-info">File name:</span>
                      {{ download.value.title }}</a
                    ></span
                  >
                  <br />
                  <span class="down-info">Quality:</span>
                  {{ download.value.quality }}
                  <br />
                  <span class="down-info">Format:</span>
                  {{ download.value.format }}
                  <br />
                  <span *ngIf="download.value.size"
                    ><span class="down-info">File size:</span>
                    {{ download.value.size | fileSize }}</span
                  >
                  <ng-template #noDownloadLink>
                    {{ download.value.title }}
                    <span *ngIf="download.value.msg"
                      ><br />{{ download.value.msg }}</span
                    >
                    <span *ngIf="download.value.error"
                      ><br />Error: {{ download.value.error }}</span
                    >
                  </ng-template>
                </td>
                <td>
                  <button
                    *ngIf="download.value.status == 'error'"
                    type="button"
                    class="btn btn-link"
                    (click)="retryDownload(download.key, download.value)"
                  >
                    <fa-icon [icon]="faRedoAlt"></fa-icon>
                  </button>
                </td>
               
                <td>
                  <a href="{{ download.value.url }}" target="_blank"
                    ><fa-icon [icon]="faExternalLinkAlt"></fa-icon
                  ></a>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-link"
                    (click)="delDownload('done', download.key)"
                  >
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- /.container -->
 